body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
}

input[type=submit]{
    height: 46px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    padding: 10px;
}
  
input[type=submit]:hover{
    background-color: #7cd1f9;
    box-shadow: 0px 0px 20px rgb(25, 106, 188);
    color: #fff;
}

label {
    font-size: 16px;
}

input[type=text] {
    height: 30px;
    box-sizing: border-box;
    border: 2px solid #abaaaa;
    border-radius: 4px;
    background-color: #ffffff;
    font-size: 16px;
    transition: border 0.3s;
}

input[type=text]:focus {
    border: 2px solid #333333;
}

form {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:normal;
}